@model AuthSystem.Models.Versamento

@{
    ViewData["Title"] = "Elimina versamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Elimina</h1>

<h3>Sei sicuro di voler eliminare questo versamento?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PezziBuoni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PezziBuoni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PezziDifettosi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PezziDifettosi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempoProd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempoProd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComponentiArticolo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComponentiArticolo.NomeComponente)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stazioni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stazioni.NomeStazione)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AspNetUsers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdVersamento" />
        <input type="submit" value="Elimina" class="btn btn-danger" /> |
        <a asp-action="Index">Torna alla lista</a>
    </form>
</div>
