@model IEnumerable<AuthSystem.Models.Versamenti>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero_pezzi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tempo_prod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articoli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUsers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero_pezzi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tempo_prod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Articoli.Descrizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUsers.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_versamento">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_versamento">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_versamento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
