@model AuthSystem.Models.Prenotazione

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prenotazione</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AspNetUsers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AspNetUsers.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Postazioni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Postazioni.NomePostazione)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPrenotazione">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
