@model AuthSystem.Models.ComponenteArticolo

@{
    ViewData["Title"] = "Elimina componente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Elimina</h1>

<h3>Sei sicuro di voler eliminare questo componente?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeComponente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeComponente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempoProduzione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempoProduzione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Articoli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Articoli.NomeArticolo)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdComponente" />
        <input type="submit" value="Elimina" class="btn btn-danger" /> |
        <a asp-action="Index">Torna alla lista</a>
    </form>
</div>
