@model IEnumerable<AuthSystem.Models.ComponenteArticolo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeComponente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempoProduzione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articoli)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeComponente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempoProduzione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Articoli.NomeArticolo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdComponente">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdComponente">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdComponente">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
